<h1>Groups</h1>

<% if user_signed_in? %>
<ul class="groups">
	<% @groups.each do |g| %>
		<li>
			<%= link_to(g.name, :controller => :groups, :action => :show, :id => g.id) %>
		</li>
	<% end %>
</ul>
<% end %>
